@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'JosefinSans';
    color: black;
}
body {
    background-color: #dcccc3;
}
header {
    background-color: #D9B2A0;    
    justify-content: space-between;
    align-items: end;
}
.logo {
    border-radius: 100px;
    width:170px;
    margin-right: 50px;
}
.header__imagen__lupa{
    width: 30px;
}
.navbar-nav{
    padding-left: 70px;
}
.nav-item {
    padding: 0 20px 0 20px;
    font-size: 15px;
    text-align: end;
}
.nav-item:hover{
    transform:scale(1.2,1.2);
}
.nav-link{
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
}
.nav-item:hover .nav-link {
    color: white 
}

.header__ul__carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}
.header__li__carrito{
    padding: 10px;
}


/*Main de index*/
.subtitulo1{
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    align-content: center;
}
.main__index__masvendido{
    justify-content: space-evenly;
    display: flex;
    flex-wrap:wrap;
}
main section div article{
    justify-content: space-evenly;
}
.main__index__paginas{
justify-content: space-evenly;
display: flex;
flex-wrap: wrap;
padding-bottom: 100px;
}
.main__index__categorias{
    text-align: center;
    font-style:italic ;
}
.main__index__categorias:hover{
    transform: scale(1.1);
}
.main__index__categorias__hover{
width: 200px;
height: 200px;
position: relative;
}
.main__index__categorias__imagenes{
height: 200px;
width: 200px; 
border: solid 2px black;
}
.titulocategoria{
width: 0%;
height: 100%;
background-color: rgba(199,129, 84, 0.7);
position: absolute;
top: 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: end;
overflow: hidden;
}
.main__index__categorias:hover .titulocategoria{
    width: 100%;
}

/* Footer*/
footer {
background-color: #D9B2A0;
display: flex; 
flex-wrap: wrap;
padding-top: 15px ;
}
footer section div{
justify-content: space-between;
}
footer section div ul{
    text-decoration: none;
    list-style: none;
    padding-right: 200px;
}
footer section div ul li img{
    margin-right: 20px;
}
.footer__lista__dos{
    margin-left: 100px;
    margin-right: 100px;
    text-align: start;
    width: 160px;
    padding: 0px;
}
footer section div ul li a{
    text-decoration: none;
    color: black;
}
footer section div h5{
    text-align: center;
}
.pagos{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.tarjeta{
    width: 50px;
    align-content: end;
} 

/*Pagina Local*/

.ubicacion{
    padding-top: 20px;
} 
main section div div h3{
    font-weight: bold;
    font-size: 40px;
}
main section div div p{
    font-size: 25px;
}
.mapa {
    display: flex;
    justify-content: end;
    align-items: end;
}
iframe { 
    margin-left: 300px;
    padding: 0;
    margin: 0;
}
.reloj {
padding: 60px 0px;
}

/* Pagina Productos */
.main__productos__listacategoria{
    list-style: none;
}
.productos__aside__h3{
    font-weight: bold;
}

/*Página de Anillos, Aros, Cadenas, Productos, Reloj (Main)*/
.titulos__paginas{
    font-style: italic;
    font-size: 40px;
    margin: 0px 90px 0px 90px;
    text-align: left;
    font-weight: bold;
    
}
.main__productosycategorias {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.seccion__aside {
    width: 20%;
}
.seccion__articulos {
    width: 80%;
}
.filtros{
background-color: #d9b2a091;
padding: 20px 15px 20px 15px;
width: 150px;
}
main section div aside h3{
    font-weight: bold;
}
.listafiltros{ 
    text-decoration: none;
    list-style: none;
    color: black;
    text-align: start;
}
.div__contenedor {
    display: flex;
}
.articulo {
    width: 200px;
    height: 270px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid 2px black;
    text-align: center;
}
h2 {
    padding: 25px;
}

/*Pagina Contacto*/
.maincontacto {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.datoscontacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-right: 2px solid black;
    width: 600px;
    align-items:  start;
    padding-left: 100px;
}
main section div div h3{
        font-size: 30px;
}
.div-contacto {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}
main section div div p a{
    color: black;
}
.datos-contacto {
    padding: 15px;
}
form ul li {
    list-style: none;
    padding-top: 20px;
}
main section div div h4{
    text-align: start;
    text-decoration: underline;
}
main section div div p{
    text-align: start;
}
.formulario {
    text-align: center;
    padding: 50px;
    }
main section div div form ul li input{
    width: 100%;
    height: 40px;
}
main section div div form ul li button{
    width: 20%;
    height: 40px;
}

/*Pagina Carrito*/
.seccioncarrito{
    margin: 100px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.carrito-arriba {
    border-bottom: solid 1px black;
    padding-bottom: 100px;
}
.textocarritoycorazon{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    margin: 0px 50px 10px 50px;
    text-align: center;
}
.botoncompras{
    width: 150px;
}
.textoboton{
    text-decoration: none;
    color: black;
    font-size:xx-large;
}


/*Categoria Cadenas */
.listafiltrosCadenas{
text-align: start;
list-style: none;
width: 200px;
} 


/* Categoria Reloj */
.filtroreloj{
    background-color: #d9b2a091;
    padding: 5px 5px 5px 5px;
    width: 150px;
}
.listafiltroreloj{
    text-decoration: none;
    list-style: none;
    text-align: start;
    align-items: content;
    width: 200px;

}

/* Diseño responsive-vista mobile */

@media (max-width:576px) {
/* Encabezado */
    header{
        padding: 10px;
    }
    .logo{
        width: 150px;
        margin-top: 40px;
    } 
    body header .navbar div form .buscador{
        display: none;
    }
    .navbar-toggler{
        margin: 0px 50px 0px 50px ;
    }
    .header__div__carrito{
        margin-left: 370px;
    }
    
/* Portada sarava */
    section img{
        width:100%;
        height: 270px;
    }
    .subtitulo1{
        font-size: 35px;
    }
/* Footer */
    footer section div {
        margin: 0px;
    }
    footer section div ul li {
        font-size: 15px; 
    }
    footer section div ul li img {
        width: 15px;
        height: 18px;
    }
    .footer__lista__uno{
        width: 250px;
    }
    .footer__lista__dos{
        margin: 0px;
        width: 150px;
    }
    footer section div div h5 {
        font-size: 25px;
    }
    .pagos{
        justify-content: space-evenly;
        }
    .tarjeta{
        width: 30px;
        height: 25px;
    }
/* Main Pagina Index */
    main section div article img {
        width: 60px;
        height: 80px; ;
    }
    .articulo{
        width: 300px;
        height: 250px;
    }
    .main__index__paginas{
        padding-right: 20px;
    }
    .main__index__categorias{
    width: 200px;
    padding: 20px;
    }
    .main__index__categorias__hover{
        width: 200px;
        height: 200px;
    }
    .main__index__categorias__imagenes{
        height: 200px;
        width: 200px; 
    }
/* Main Pagina Productos */
    .productos_aside__h3{
        font-size: 20px;
        font-weight: bold;
    }
    .filtros__productos__cel{
        background-color: rgba(217, 178, 160, 0.76);
        width: 300px;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 90px;
    }    
    .listafiltros{ 
        padding: 0px 10px 0px 10px;
        color: black;
        text-align: center;
        }
    .main__productos__listacategoria__cel{
        display: flex;
        list-style: none;
        margin:0px 10px;
    }
    .filtros__productos{
        display: none;
    }
    .main__productos__articulos{
    margin-top: 100px;
    justify-content: end;
    }
/*Main Pagina Local */
    .main__local__img{
        width: 40px;
        height: auto;
    }
    .main__local__h3__ubicacionyhorario{
        font-size: 15px;
    }
    .mapa{
        width: 300px;
        height: auto;
        padding-left: 100px;
    }
    .main__local__p__ubicacionyhorario{
        font-size: 12px;
    }
/* Paginas Contacto */
    .maincontacto section div div div img{
        width: 40px;
        height: 30px;
    }
    .datoscontacto {
        border-right: none;
    }
    .datos-contacto h3{
        font-size: 18px;
    }
    .div-contacto p {
        font-size: 16px;
    }
    .formulario h3{
        font-size: 18px;
    }
    .formulario p {
        font-size: 16px;
    }
/* Paginas Anillos, Aros, Cadenas y Reloj */
    .titulos__paginas{
        font-size: 30px;
        text-align: center;
    }
    .seccion__articulos{
        padding-top: 10px;
        padding-left: 80px;
    }
/* Titulos de las paginas */
.titulos__paginas{
    text-align: start;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
}
} 
@media (min-width:577px) {
/*Pagina Productos  */
    .filtros__productos__cel{
        display: none;
    }
/* Pagina Anillos */
    .aside-cel {
        display: none;
    }
}
