
@import 'mapget';

/* Footer*/
footer {
    @include flex-wrap;
    background-color: $color-fondo;
    padding-top: 15px ;
    section{
        div{
            justify-content: space-between;
            ul{
                text-decoration: none;
                list-style: none;
                padding-right: 200px;
                li {
                    img{
                        margin-right: 20px;
                    }
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            .footer__lista__dos{
                @include sizes(160px,0px 100px);
                text-align: start;
                padding: 0px;
                letter-spacing: 3px;
                li{
                    &:hover{
                        transform:map-get($hover-blanco, escalado);
                        a{
                            color: map-get($hover-blanco, blanco);
                        }
                    }
                }
            }
            .footer__lista__tres {
                h5{
                    text-align: center;
                }
                .pagos{
                    @include flex-wrap;
                    justify-content: space-between;
                    padding: 10px;
                    li{
                        .tarjeta{
                            width: 50px;
                            align-content: end;
                        } 
                    }
                }
            }
        }
    }
}