*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    color: black;
}
body {
    background-color: #dcccc3;
}

.portada{
    margin-bottom: 40px;
}

/*titulos de cada pagina*/
.titulos__paginas{
    @include bold-size;
    font-style: $Estilo-fuente;
    margin: 0px 90px 0px 90px;
    text-align: left;
    
}

/*botones de todos los articulos*/
.botones__articulos{
    border:1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color:rgba($color: rgba(183, 176, 176, 0.747), $alpha: 7.0);
}

