*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    color: black;
}
body {
    background-color: #dcccc3;
}

.portada{
    margin-bottom: 40px;
}

/*titulos de cada pagina*/
.titulos__paginas{
    @include bold-size;
    font-style: $Estilo-fuente;
    margin: 0px 90px 0px 90px;
    text-align: left;
    
}

/*botones de todos los articulos*/
.botones__articulos{
    border-color: rgb(205, 138, 96);
    color: rgb(205, 138, 96);
    font-weight: bold;
    border-radius: 4px;
    padding: 3px;
    background-color: transparent;
    cursor: pointer;
    &:hover{
        color: white;
        background-color:rgb(205, 138, 96);
        border-color:rgb(205, 138, 96);
    }
}

