/*Pagina Local*/

main{
    section{
        div{
            .titulos__paginas{
                @include bold-size;
                font-style: $Estilo-fuente;
                margin: 0px 90px 0px 90px;
                text-align: left;
                }
        }
        div{
            .ubicacion{
                padding-top: 20px;
                h3{
                    font-weight: bold;
                    font-size: 30px;
                }
                p{
                    font-size: 25px;
                }
            }
            .mapa {
                @include flex-wrap;
                justify-content: end;
                align-items: end;
                iframe { 
                    margin-left: 300px;
                    padding: 0;
                    margin: 0;
                }
            } 
        }
        .reloj {
            padding: 60px 0px;
            div{
                h3{
                    font-weight: bold;
                    font-size: 30px;
                }
                p{
                    font-size: 25px;
                }
            }
            }
    }
}
