/*Main de index*/
main{
    section{
        div{
            .subtitulo1{
            @include bold-size;
            margin: 20px;
            font-style: italic;
            text-align: center;
            align-content: center;
            
        }
        }
        .main__index__masvendido{
            @include flex-wrap;
            justify-content: space-evenly;
            article{
                justify-content: space-evenly;
            }
            .articulo {
                @include sizes(200px,20px);
                height: 270px;
                padding: 10px;
                background-color: white;
                border-radius: 5px;
                border: solid 2px black;
                text-align: center;
            }
        }
        .main__index__paginas{
            @include flex-wrap;
            justify-content: space-evenly;
            padding-bottom: 100px;
            .main__index__categorias {
                text-align: center;
                font-style: $Estilo-fuente;
                &:hover {
                    transform: scale(1,1.1,1);
                }
                .main__index__categorias__hover {
                    width: 200px;
                    height: 200px;
                    position: relative;
                    .main__index__categorias__imagenes {
                        height: 200px;
                        width: 200px;
                        border: solid 2px black;
                    }
                    .titulocategoria {
                        @include flex-wrap;
                        width: 0%;
                        height: 100%;
                        background-color: rgba(199, 129, 84, 0.7);
                        position: absolute;
                        top: 0;
                        justify-content: center;
                        align-items: end;
                        overflow: hidden;
                    }
                }
                &:hover .titulocategoria {
                    width: 100%;
                    animation: fadeIn;                    ;
                    animation-duration: 1.5s;
                }
            }
        }
    }
}

